.hold-on {
  padding-top: 100px;
  padding-left: 256px;
  background-color: #1f2128;
  height: 100vh;

  .singlepost-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2128;

    .single-card-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 70%;
      overflow: hidden;
      margin: 80px auto 0px auto;
      background: #1f2128;

      .vi-card {
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0 0 32px 32px;
        transition: 0.25s ease-in-out;
        .vi__route {
          display: block;
          font-size: 0;
          height: 175px;
        }

        .card__img {
          width: 100%;
          height: 35vh;
          overflow: hidden;
          border-radius: 24px 24px 0 0;
          object-fit: cover;
          background-position: center;
          background-size: cover;
        }
        .card__body {
          width: 100%;
          text-align: left;
          padding: 32px 32px 32px;
          background: #1a1b1f;
          border-radius: 0 0 32px 32px;
          color: white;
          font-family: "Poppins", sans-serif;
          font-size: 16px;

          h3 {
            font-family: "Inter", sans-serif;
            font-weight: medium;
            font-size: 18px;
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 20px;
          }
          button {
            cursor: pointer;
            background: #40916c;
            width: 25%;
            height: 40px;
            border-radius: 12px;
            color: white;
            border: none;
            font-family: "Poppins", sans-serif;
            font-size: 16px;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
        .card__footer {
          border-top: 1px solid rgb(117, 117, 124);
          text-align: left;
          padding: 30px 15px;
          button {
            cursor: pointer;
            background: #40916c;
            width: 50%;
            height: 40px;
            border-radius: 12px;
            color: white;
            border: none;
            a {
              font-family: "Inter", sans-serif;
              font-weight: medium;
              font-size: 14px;
            }
          }
          .footer__link {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.single_category_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 1.39583;
  color: white;
  width: 100%;
  overflow: hidden;
  margin: 50px auto 15px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .hold-on {
    padding-top: 100px;
    padding-left: 0px;
    background-color: #1f2128;
    height: 100vh;
  }
  .hold-on .singlepost-main .single-card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    margin: 40px auto 0px auto;
  }
  .hold-on .singlepost-main .single-card-holder .vi-card {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 32px 32px;
    transition: 0.25s ease-in-out;
  }
  .single_category_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 1.39583;
    color: white;
    width: 100%;
    overflow: hidden;
    margin: 30px auto 15px auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .hold-on .singlepost-main .single-card-holder .vi-card .card__body button {
    width: 125px;
  }
  .single_category_title {
    font-size: 30px;
  }
}
