.singlepost-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-holder {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    overflow: hidden;
    margin-bottom: 100px;

    .vi-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: calc(20%);
      background: #474a55;
      position: relative;
      display: block;
      border-radius: 24px;
      color: white;
      cursor: pointer;
      transition: 0.3s;

      .vi__route {
        display: block;
        font-size: 0;
        height: 175px;
      }

      .card__img {
        height: 175px;
        img {
          width: 100%;
          border-radius: 24px 24px 0 0;
          object-fit: cover;
        }
      }
      .card__body {
        text-align: left;
        padding: 30px 15px;

        h3 {
          font-family: "Inter", sans-serif;
          font-weight: medium;
          font-size: 16px;
        }
      }
      .card__footer {
        border-top: 1px solid rgb(117, 117, 124);
        text-align: left;
        padding: 30px 15px;
        button {
          cursor: pointer;
          background: #40916c;
          width: 50%;
          height: 40px;
          border-radius: 12px;
          color: white;
          border: none;
          a {
            font-family: "Inter", sans-serif;
            font-weight: medium;
            font-size: 14px;
          }
        }
        .footer__link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
